section {
  margin-top: 40px;
}

.extensions-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.extensions-section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 343px;
  height: 104px;
}

.extensions-header {
  font-size: 34px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--colors-neutral-900);
}

.extensions-section-btns {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 295px;
  height: 46px;
}

.all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  border: none;
  border-radius: 999px;
  padding: 8px 20px 10px;
  width: 64px;
  height: 46px;

  box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.4);
  background: var(--colors-neutral-0);

  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--colors-neutral-900);

  transition: all 0.3s ease;
}

.all-btn:hover,
.all-btn:focus {
  transform: translateY(-3px);
  box-shadow: var(--btn-shadow-1), var(--btn-shadow-2);
}

.active-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  border: none;
  border-radius: 999px;
  padding: 8px 20px 10px;
  width: 95px;
  height: 46px;

  box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.4);
  background-color: var(--colors-neutral-0);

  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--colors-neutral-900);

  transition: all 0.3s ease;
}

.active-btn:hover,
.active-btn:focus {
  transform: translateY(-3px);
  box-shadow: var(--btn-shadow-1), var(--btn-shadow-2);
}

.inactive-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  border: none;
  border-radius: 999px;
  padding: 8px 20px 10px;
  width: 112px;
  height: 46px;

  box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.4);
  background-color: var(--colors-neutral-0);

  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--colors-neutral-900);

  transition: all 0.3s ease;
}

.inactive-btn:hover,
.inactive-btn:focus {
  transform: translateY(-3px);
  box-shadow: var(--btn-shadow-1), var(--btn-shadow-2);
}

.active {
  background-color: var(--colors-red-700);
  color: var(--colors-neutral-0);
}

/* Extensions list */

.extensions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.extensions-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;

  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 343px;
  height: 200px;

  box-shadow: var(--box-shadow);
  background-color: var(--colors-neutral-0);
}

.description-container {
  display: flex;
  gap: 16px;
}

.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.card-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--colors-neutral-900);
}

.card-text {
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: var(--colors-neutral-600);
}

.interaction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid var(--colors-neutral-300);
  border-radius: 999px;
  padding: 8px 16px;
  width: 91px;
  height: 38px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.03em;
  background-color: inherit;
  color: var(--colors-neutral-900);

  transition: all 0.3s ease;
}

.card-btn:hover,
.card-btn:focus {
  transform: translateY(-3px);
  box-shadow: var(--btn-shadow-1), var(--btn-shadow-2);
}

@media (min-width: 768px) {
  .extensions-section {
    gap: 32px;
  }

  .extensions-section-top {
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
    width: 704px;
    height: 46px;
  }

  .extensions-section-btns {
    margin-left: auto;
  }

  .extensions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .extensions-card {
    max-width: 346px;
    gap: 12px;
    width: calc((100% - 12px) / 2);
  }
}

@media (min-width: 1440px) {
  section {
    margin-top: 64px;
  }

  .extensions-section-top {
    width: 1170px;
    height: 46px;
  }

  .extensions {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .extensions-card {
    max-width: 382px;
    width: calc((100% - 64px) / 3);
  }
}
